[submodule ".config/nvim"]
  path = .config/nvim
  url = https://github.com/pk-kampanart/nvim.git
  branch = main

[submodule ".config/emacs"]
  path = .config/emacs
  url = https://github.com/pk-kampanart/emacs.d.git 
  branch = main
