$include /etc/inputrc
set bell-style none
set completion-ignore-case on
set show-mode-in-prompt on
set vi-ins-mode-string (ins)\1\e[6 q\2
set vi-cmd-mode-string (cmd)\1\e[2 q\2

set keymap emacs
# Double Escape to vi-normal-mode
"\C-[": vi-editing-mode
"\M-v": vi-editing-mode
"\C-xz": vi-editing-mode

set keymap vi-command
"\ee": emacs-editing-mode
"\C-xz": emacs-editing-mode

set keymap vi-insert
"\ee": emacs-editing-mode
"\C-xz": emacs-editing-mode
"": "$EDITOR $(fzf)\n"
